<template>
  <ion-footer>
    <ion-toolbar>
      <ion-title>&copy; SerhMosk</ion-title>
      <ion-button slot="end" v-if="backBtn" :router-link="backBtn">{{ $t('back') }}</ion-button>
    </ion-toolbar>
  </ion-footer>
</template>

<script lang="ts">
export default {
  props: ['backBtn']
}
</script>
