<template>
  <ion-header :translucent="true">
    <ion-toolbar>
      <ion-title>{{title}}</ion-title>

      <ion-toggle slot="end" class="ion-margin-end" @ionChange="changeLocale" :checked="locale == 'ua'">EN/UA</ion-toggle>
      <ion-select slot="end" class="ion-margin-end" label="" placeholder="" v-model="locale">
        <ion-select-option value="en">EN</ion-select-option>
        <ion-select-option value="ua">UA</ion-select-option>
      </ion-select>
    </ion-toolbar>
  </ion-header>
</template>

<script setup lang="ts">
const { locale } = useI18n();

const changeLocale = () => {
  locale.value = locale.value == 'ua' ? 'en' : 'ua';
}
</script>

<script lang="ts">
export default {
  props: ['title']
}
</script>

<style scoped>
</style>
