<template>
  <ion-page>
    <Header :title="$t('add-item')"/>

    <ion-content :fullscreen="true">
      <ion-header collapse="condense">
        <ion-toolbar>
          <ion-title size="large">{{ $t('add-item') }}</ion-title>
        </ion-toolbar>
      </ion-header>

      <div id="container">
        <ion-card>
          <ion-card-header>
            <ion-card-title>{{$t('enter-name')}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-item>
              <ion-input v-model="name" @input="updateTodoName" placeholder="Todo Name"></ion-input>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </div>
    </ion-content>

    <ion-fab-button class="todo-fab" @click="addTodo">
      <ion-icon :icon="checkmark"></ion-icon>
    </ion-fab-button>

    <Footer backBtn="/todo-list"/>
  </ion-page>
</template>

<script lang="ts">
import { IonIcon, toastController } from '@ionic/vue';
import { checkmark } from 'ionicons/icons';
import { defineComponent } from 'vue';
import TodosApi from "~/server/api";

export default defineComponent({
  components: { IonIcon },
  setup() {
    return { checkmark, api: TodosApi };
  },
  data() {
    return {
      name: ''
    }
  },
  methods: {
    addTodo() {
      if (this.name !== '') {
        this.api.create({ name: this.name, done: false })
            .then(res => {
              this.presentToast('bottom', 'Task Added');
              this.name = '';
              this.$router.push({path: '/todo-list'});
            });
      }
    },
    updateTodoName() {
      // Do something if input field was updated
      // console.log(this.name);
    },
    async presentToast(position: 'top' | 'middle' | 'bottom', message: string) {
      const toast = await toastController.create({
        duration: 1500,
        position,
        message,
      });

      await toast.present();
    }
  }
});
</script>

<style scoped>
#container {
  height: 100%;
  overflow-y: auto;
  position: relative;
}

.todo-fab {
  position: absolute;
  bottom: calc(72px + var(--ion-safe-area-bottom));
  right: 16px;
}
</style>
