<template>
  <ion-page>
    <Header title="Nuxt Ionic Todo"/>

    <ion-content :fullscreen="true">
      <ion-header collapse="condense">
        <ion-toolbar>
          <ion-title size="large">Nuxt Ionic Todo</ion-title>
        </ion-toolbar>
      </ion-header>

      <div id="container">
        <ion-icon :icon="logoVue" size="large" color="success"></ion-icon>
        <ion-icon :icon="addOutline" size="large"></ion-icon>
        <ion-icon :icon="logoIonic" size="large" color="primary"></ion-icon>
        <h1>Nuxt Ionic Todo</h1>
        <p>{{ $t('welcome') }}</p>
        <br>
        <div>
          <ion-button router-link="/todo-list" class="ion-margin-end mr-2">{{ $t('start') }}</ion-button>
          <ion-button router-link="/resources" color="tertiary">{{ $t('resources') }}</ion-button>
        </div>
      </div>
    </ion-content>

    <Footer />
  </ion-page>
</template>

<script lang="ts">
import { IonIcon } from '@ionic/vue';
import { logoIonic, logoVue, addOutline } from 'ionicons/icons';
import { defineComponent } from 'vue';

export default defineComponent({
  components: { IonIcon },
  setup() {
    return { logoIonic, logoVue, addOutline };
  },
});
</script>

<style scoped>
#container {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  text-align: center;
  transform: translateY(-50%);
}
#container strong {
  font-size: 20px;
  line-height: 26px;
}
#container p {
  color: #8c8c8c;
  font-size: 16px;
  line-height: 22px;
  margin: 0;
}
#container a {
  text-decoration: none;
}
</style>
