<template>
  <ion-page>
    <Header :title="$t('resources')"/>

    <ion-content :fullscreen="true">
      <ion-header collapse="condense">
        <ion-toolbar>
          <ion-title size="large">{{ $t('resources') }}</ion-title>
        </ion-toolbar>
      </ion-header>

      <div id="container">
        <ion-list :inset="true">
          <ion-item>
            <ion-icon :icon="ioniconsBookOutline" slot="start"></ion-icon>
            <ion-label>
              <a
                target="_blank"
                rel="noopener noreferrer"
                href="https://ionic.nuxtjs.org/"
              >Nuxt Ionic Documentation</a>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-icon :icon="ioniconsRocketOutline" slot="start"></ion-icon>
            <ion-label>
              <a
                  target="_blank"
                  rel="noopener noreferrer"
                  href="https://ionicframework.com/docs/components"
              >Ionic Components Documentation</a>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-icon :icon="ioniconsLogoGitlab" slot="start"></ion-icon>
            <ion-label>
              <a
                  target="_blank"
                  rel="noopener noreferrer"
                  href="https://gitlab.com/SerhMosk/nuxt-ionic-todo"
              >Nuxt Ionic Todo GitLab Repo</a>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-icon :icon="ioniconsLogoNpm" slot="start"></ion-icon>
            <ion-label>
              <a
                  target="_blank"
                  rel="noopener noreferrer"
                  href="https://github.com/typicode/json-server"
              >JSON Server</a>
            </ion-label>
          </ion-item>
        </ion-list>
      </div>
    </ion-content>

    <Footer backBtn="/"/>
  </ion-page>
</template>

<style scoped>
#container {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  text-align: center;
  transform: translateY(-50%);
}
#container strong {
  font-size: 20px;
  line-height: 26px;
}
#container p {
  color: #8c8c8c;
  font-size: 16px;
  line-height: 22px;
  margin: 0;
}
#container a {
  text-decoration: none;
}
</style>

<script setup lang="ts">
</script>
