<template>
  <ion-page>
    <Header :title="$t('todo-list')"/>

    <ion-content :fullscreen="true">
      <div id="container">
        <ion-header collapse="condense">
          <ion-toolbar>
            <ion-title size="large">{{ $t('todo-list') }}</ion-title>
          </ion-toolbar>
        </ion-header>

        <ion-card>
          <ion-card-header>
            <ion-card-title>{{ $t('tasks') }}</ion-card-title>
            <ion-card-subtitle>{{ $t('add-info') }}</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            <ion-list v-if="todos.length" :inset="false">
              <ion-item v-for="todo in todos" :key="todo.id">
                <ion-checkbox :checked="todo.done" @click="changeStatus(todo)" label-placement="end" justify="start">
                  <ion-label :class="{completed: todo.done}" full>{{todo.name}}</ion-label>
                </ion-checkbox>

                <ion-button slot="end" color="danger" fill="clear" shape="round" @click="deleteTask(todo.id)">
                  <ion-icon :icon="trashOutline"></ion-icon>
                </ion-button>
              </ion-item>
            </ion-list>
            <div v-if="!todos.length"><strong>{{ $t('no-tasks') }}</strong></div>
          </ion-card-content>
        </ion-card>
      </div>
    </ion-content>

    <ion-fab-button class="todo-fab" @click="addTask">
      <ion-icon :icon="addOutline" aria-hidden="true"></ion-icon>
    </ion-fab-button>

    <Footer backBtn="/"/>
  </ion-page>
</template>

<script lang="ts">
import { IonIcon, toastController } from '@ionic/vue';
import { addOutline, trashOutline } from 'ionicons/icons';
import { defineComponent } from 'vue';
import TodosApi from "~/server/api";

export default defineComponent({
  components: { IonIcon },
  setup() {
    return { addOutline, trashOutline, api: TodosApi };
  },
  data() {
    return {
      todos: []
    }
  },
  created() {
    this.api.getAll()
        .then(res => this.todos = res.data);
  },
  updated() {
    this.api.getAll()
        .then(res => this.todos = res.data);
  },
  methods: {
    addTask() {
      this.$router.push({path: 'add-todo-item'});
    },
    changeStatus(todo: any) {
      this.api.update({...todo, done: !todo.done})
          .then(res => {
            todo.done = !todo.done;
            console.log('Updated');
            this.presentToast('bottom', 'Task Updated');
          });
    },
    deleteTask(id: string) {
      this.api.delete(id)
          .then(res => {
            this.todos = this.todos.filter(item => item['id'] !== id);
            console.log('Deleted');
            this.presentToast('bottom', 'Task Deleted');
          });
    },
    async presentToast(position: 'top' | 'middle' | 'bottom', message: string) {
      const toast = await toastController.create({
        duration: 1500,
        position,
        message,
      });

      await toast.present();
    }
  }
});
</script>

<style scoped>
#container {
  height: 100%;
  overflow-y: auto;
  position: relative;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  color: #8c8c8c;
  font-size: 16px;
  line-height: 22px;
  margin: 0;
}

#container a {
  text-decoration: none;
}

.completed {
  color: var(--ion-color-medium);
  text-decoration: line-through;
}

.todo-fab {
  position: absolute;
  bottom: calc(72px + var(--ion-safe-area-bottom));
  right: 16px;
}
</style>
